<h1>Listing official_administrators</h1>

<table>
  <tr>
    <th>Official</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @official_administrators.each do |official_administrator| %>
  <tr>
    <td><%= official_administrator.official_id %></td>
    <td><%= official_administrator.user_id %></td>
    <td><%= link_to 'Show', official_administrator %></td>
    <td><%= link_to 'Edit', edit_official_administrator_path(official_administrator) %></td>
    <td><%= link_to 'Destroy', official_administrator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Official administrator', new_official_administrator_path %>
