<h1>Listing offices</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Polity</th>
    <th>Polity type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @offices.each do |office| %>
  <tr>
    <td><%= office.name %></td>
    <td><%= office.polity_id %></td>
    <td><%= office.polity_type %></td>
    <td><%= link_to 'Show', office %></td>
    <td><%= link_to 'Edit', edit_office_path(office) %></td>
    <td><%= link_to 'Destroy', office, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Office', new_office_path %>
