<%= simple_form_for(@issue) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :poller_type, :as => :hidden, :input_html => { :value => @issue.poller_type } %>
    <%= f.input :poller_id, :as => :hidden, :input_html => { :value => @issue.poller_id } %>
    <%= f.input :tag_string, :label => "Tags"%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
