<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user_group.user_id %>
</p>

<p>
  <b>Group:</b>
  <%= @user_group.group_id %>
</p>

<p>
  <b>Group type:</b>
  <%= @user_group.group_type %>
</p>

<p>
  <b>Role:</b>
  <%= @user_group.role %>
</p>


<%= link_to 'Edit', edit_user_group_path(@user_group) %> |
<%= link_to 'Back', user_groups_path %>
