<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @official.name %>
</p>

<p>
  <b>Email:</b>
  <%= @official.email %>
</p>

<p>
	<b>Photo:</b>
	  <% if @official.has_photo? %>
	    <%= image_tag @official.photo_path %>
	  <% else %>
	    No photo.
	  <% end %>
</p>

<%= link_to 'Edit', edit_admin_official_path(@official, :state_id => params[:state_id]) %> |
<%= link_to 'Back', admin_state_path(params[:state_id]) %>
