<h1>Listing poll_responses</h1>

<table>
  <tr>
    <th>User</th>
    <th>Poll</th>
    <th>Poll question</th>
    <th>Ordinal</th>
    <th>Free response</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @poll_responses.each do |poll_response| %>
  <tr>
    <td><%= poll_response.user_id %></td>
    <td><%= poll_response.poll_id %></td>
    <td><%= poll_response.poll_question_id %></td>
    <td><%= poll_response.ordinal %></td>
    <td><%= poll_response.free_response %></td>
    <td><%= link_to 'Show', poll_response %></td>
    <td><%= link_to 'Edit', edit_poll_response_path(poll_response) %></td>
    <td><%= link_to 'Destroy', poll_response, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Poll response', new_poll_response_path %>
