<h1>Listing poll_questions</h1>

<table>
  <tr>
    <th>Text</th>
    <th>Poll</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @poll_questions.each do |poll_question| %>
  <tr>
    <td><%= poll_question.text %></td>
    <td><%= poll_question.poll_id %></td>
    <td><%= link_to 'Show', poll_question %></td>
    <td><%= link_to 'Edit', edit_poll_question_path(poll_question) %></td>
    <td><%= link_to 'Destroy', poll_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Poll question', new_poll_question_path %>
