<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @poll_question.text %>
</p>

<p>
  <b>Poll:</b>
  <%= @poll_question.poll_id %>
</p>


<%= link_to 'Edit', edit_poll_question_path(@poll_question) %> |
<%= link_to 'Back', poll_questions_path %>
