<%= simple_form_for(@quick_poll_response) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :quick_poll_id %>
    <%= f.input :user_id %>
    <%= f.input :value %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
