<%= simple_form_for(@quick_poll_response) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :quick_poll %>
    <%= f.association :user %>
    <%= f.input :value %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
