<h3>User</h3>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Location: <%= @user.current_location if @user.current_location %></p>
<p>Birth Date: <%= @user.birth_date if @user.birth_date %></p>
<p>Sex: <%= @user.sex if @user.sex %></p>
