<p id="notice"><%= notice %></p>

<h3>State of <%= @state.name %></h3>

<ul>
<li><%= link_to "Municipalities", municipalities_path( :state_id => @state.id ) %></li>
<li><%= link_to "Counties", counties_path( :state_id => @state.id ) %></li>
</ul>

<p>
<h4>State Offices</h4>

<table width=400>
  <tr>
    <th>Office</th><th>Incumbent</th>
  </tr>

<% @state.offices.each do |office| %>
  <% incumbent = incumbent_officials(office.id).first %>
  <tr>
    <td><%= office %></td>
    <td><%= if !incumbent.nil?
              link_to incumbent.name, incumbent
            end            
         %>
   </td>
  </tr>
<% end %>
</table>

<h4>Congressional Districts</h4>

<table width=400>
<tr><th>District</th><th>Office</th><th>Incumbent</th>
<% @state.congressional_offices.each do |office| %>
   <% incumbent = incumbent_officials(office.id).first %>
   <tr><td><%= office.polity %></td><td><%= office %></td>
     <td>
       <%= if !incumbent.nil?
         link_to incumbent.name, incumbent
         end
       %> 
     </td>
   </tr>
<% end %> 
</table>

<h4>To do: something for state legislative offices</h4>


<%= link_to 'Back', states_path %>
