<h3>Site-Wide Administration</h3>

<p>
<p>
<%= link_to 'Users', users_path %><br>
<%= link_to 'Polities, Offices & Officials', admin_states_path %><br>
<%= link_to 'Congressional Districts', congressional_districts_path %><br>
<%= link_to 'Counties',counties_path %><br>
<%= link_to 'Municipalities',municipalities_path %><br>
<%= link_to 'State House Districts',state_house_districts_path %><br>
<%= link_to 'State Senate Districts', state_senate_districts_path %><br>
<p>
<%= link_to 'Standard Poll Options', standard_poll_option_sets_path %>
