<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @poll_option.text %>
</p>

<p>
  <b>Poll question:</b>
  <%= @poll_option.poll_question_id %>
</p>

<p>
  <b>Value:</b>
  <%= @poll_option.value %>
</p>


<%= link_to 'Edit', edit_poll_option_path(@poll_option) %> |
<%= link_to 'Back', poll_options_path %>
