<%= simple_form_for([:admin,@office]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :office_type, :as => :radio_buttons, :collection => @office_types %>
    <%= f.input :polity_type, :as => :hidden, :input_html => { :value => @office.polity_type } %>
    <%= f.input :polity_id, :as => :hidden, :input_html => { :value => @office.polity_id } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
