<h3>Offices for <%= @polity %></h3>

<table width=450>
  <tr>
    <th>Name</th>
    <th>Polity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @offices.each do |office| %>
  <tr>
    <td><%= office.name %></td>
    <td><%= office.polity %></td>
    <td><%= link_to 'Show', office %></td>
    <td><%= link_to 'Edit', edit_admin_office_path(office) %></td>
    <td><%= link_to 'Destroy', [ :admin, office], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Office', new_admin_office_path(:polity_type => params[:polity_type], :polity_id => params[:polity_id]) %>
