<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @office.name %>
</p>

<p>
  <b>For:</b>
  <%= @office.polity  %>
</p>

<%= link_to 'Edit', edit_admin_office_path(@office) %> |
<%= link_to 'Back', admin_offices_path %>
