<h3>Municipalities</h3>

<table width=400>
  <tr>
    <th>Name</th>
    <th>State</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @municipalities.each do |municipality| %>
  <tr>
    <td><%= municipality.name %></td>
    <td><%= municipality.state.name %></td>
    <td><%= link_to 'Show', municipality %></td>
    <td><%= link_to 'Edit', edit_municipality_path(municipality) %></td>
    <td><%= link_to 'Destroy', municipality, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Municipality', new_municipality_path %>
