<h3>Wards in <%= @municipality %> </h3>

<table width=400>
  <tr>
    <th>Municipality</th>
    <th>Ward number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wards.each do |ward| %>
  <tr>
    <td><%= ward.municipality %></td>
    <td><%= ward.ward_number %></td>
    <td><%= link_to 'Show', [@municipality, ward] %>
    <td><%= link_to 'Edit', edit_municipality_ward_path(@municipality,ward) %></td>
    <td><%= link_to 'Destroy', [@municipality, ward], :method => :delete, :confirm => "Are you sure?" %> 
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ward', new_municipality_ward_path %>
