<p id="notice"><%= notice %></p>

<p>
  <b>Municipality:</b>
  <%= @ward.municipality %>
</p>

<p>
  <b>Ward number:</b>
  <%= @ward.ward_number %>
</p>


<%= link_to 'Edit', edit_municipality_ward_path(@ward) %> |
<%= link_to 'Back', municipality_wards_path %>
