<%= simple_form_for(@state_house_district) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :district_number %>
    <%= f.association :state %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
