<%= simple_form_for([:admin,@official_tenure]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association official.name %>
    <%= f.association office.name %>
    <%= f.input :from_date %>
    <%= f.input :to_date %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
