<%= simple_form_for(@quick_poll) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :issue %>
    <%= f.input :title %>
    <%= f.input :body %>
    <%= f.association :quick_poll_type %>
    <%= f.input :start_time, :as => :date %>
    <%= f.input :end_time, :as => :date %>
    <% i = 1 %>
    <%= f.fields_for :quick_poll_options do |builder| %>
      <%= builder.input :text, :label=>'Option' + i.to_s %>
      <% i = i + 1 %>
    <% end %>
    
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
